:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  position: fixed;
  top: 0;
  right: 0;
  padding: 50px;
}


#error {
  margin: 15px;
  display: block;
  padding: 10px;
  color: white;
  background: #262626;
}

#error:empty {
  background: transparent;
}

/* NO FOCUS on the dialog */
dialog {
  outline: none;
  width: clamp(0px, 100%, 400px);
}


dialog ul {
  list-style: none;
  padding: 0;
}

dialog ul li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

 /* Add a top border to all items except the first one */
dialog ul li:not(:first-child) {
  border-top: 1px solid #333;
}

#channels-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 10px;
  top: 50px;
  right: 50px;
  padding: 10px;
  background: #262626;
}

#channels-container .channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#channels-container .channel strong {
  font-size: 90%;
} 

#channels-container .bands {
  display: flex;
  width: 150px;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  background: gainsboro;
}

.band {
  height: 100%;
}

.band.delta {
  background: #ff6969;
}

.band.theta {
  background: #fff569;
}

.band.alpha {
  background: #6cff69;
}

.band.beta {
  background: #69a3ff;
}

.band.gamma {
  background: #ff69f3;
}
