:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

#error {
  margin: 15px;
  display: block;
  padding: 10px;
  color: white;
  background: #262626;
}

#error:empty {
  background: transparent;
}

/* NO FOCUS on the dialog */
dialog {
  position: relative;
  outline: none;
  width: clamp(0px, 100%, 400px);
  user-select: none;
  max-height: 80vh;
  overflow-y: auto;
  padding: 0;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

dialog::before {
  content: attr(header);
  position: sticky;
  top: 0;
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  padding: 20px 20px;
  background: whitesmoke;
  border-bottom: 1px solid lightgray;
  pointer-events: none; /* Pass pointer events through to the dialog */
}

dialog ul {
  list-style: none;
  padding: 0px 20px;
  margin: 0;
}

dialog ul:empty::before {
  content: attr(empty-message);
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 80%;
}

dialog ul li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px;
}


/* dialog ul li[disabled] {
  opacity: 0.5;
  pointer-events: none;
} */

 /* Add a top border to all items except the first one */
dialog ul li:not(:first-child) {
  border-top: 1px solid #333;
}

#channels-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 10px;
  top: 50px;
  left: 20px;
  padding: 10px;
  background: #262626;
}

#channels-container .channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#channels-container .channel strong {
  font-size: 90%;
} 

#channels-container .bands {
  display: flex;
  width: 150px;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  background: gainsboro;
}

.band {
  height: 100%;
}

.band.delta {
  background: #ff6969;
}

.band.theta {
  background: #fff569;
}

.band.alpha {
  background: #6cff69;
}

.band.beta {
  background: #69a3ff;
}

.band.gamma {
  background: #ff69f3;
}


/* Dark mode */
@media  (prefers-color-scheme: dark) {
  dialog::before {
    background: #111;
    border-bottom: 1px solid gainsboro;
  }

  dialog {
    background: #222;
  }
}